In [53]:
import pandas as pd
import numpy as np
import os
from datetime import datetime 
os.chdir('/Users/gil/desktop/notebooks/DSI-US-4/Project4/Spray_analysis')

pd.set_option('display.max_columns', 500)

In [3]:
spray = pd.read_csv('./Positive_Has_Spray')

In [5]:
train = pd.read_csv('./merged_train_weather-finalv2')

In [35]:
train_temp = pd.read_csv('./merged_train_weather-finalv3')

### Create Station Feature to compare sites

In [16]:
train_t = pd.DataFrame(train['Longitude'])

In [17]:
train_t['Latitude'] = train['Latitude']

In [18]:
train_y = train_t.drop_duplicates()

In [19]:
train_y = train_y.reset_index(drop=True)

In [20]:
train_y.shape

(138, 2)

In [21]:
train_y['station'] = 999

In [22]:
for i in range(0,138):
    train_y['station'][i] = i+1

/anaconda3/envs/DSI/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [23]:
train_y.head()

   Longitude   Latitude  station
0 -87.800991  41.954690        1
1 -87.769279  41.994991        2
2 -87.824812  41.974089        3
3 -87.666455  41.921600        4
4 -87.654491  41.891118        5

In [24]:
combined = pd.merge(train,train_y,on=['Latitude','Longitude'])

In [26]:
combined = combined.drop(columns=['Unnamed: 0'])

In [31]:
spray = spray.drop(columns=['Unnamed: 0'])

### Add ordinal dates from seperate CSV to train

In [48]:
combined['Ordinal'] = 1

In [49]:
for i in range (0,10506):
    combined['Ordinal'][i] = datetime.strptime(combined['Date'][i],'%Y-%m-%d').date()

/anaconda3/envs/DSI/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [51]:
for i in range(0,10506):
    combined['Ordinal'][i] = datetime.toordinal(combined['Ordinal'][i])

/anaconda3/envs/DSI/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

### Calculate average rate of west nile amongst sprayed sites 7 readings before and 7 readings after then calculate mean of each to determine west nile drop.  (readings are taken every 7 days, female mosquito average lifespan is between 42 and 59 days)

In [52]:
combined.head()

,Date,BCFG,BR,CALM,DZ,FG,FG+,FU,GR,HZ,MIFG,RA,SN,SQ,TS,TSRA,VCFG,VCTS,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,Latitude,Longitude,WnvPresent,Species_CULEX ERRATICUS,Species_CULEX PIPIENS,Species_CULEX PIPIENS/RESTUANS,Species_CULEX RESTUANS,Species_CULEX SALINARIUS,Species_CULEX TARSALIS,Species_CULEX TERRITANS,month_10,month_5,month_6,month_7,month_8,month_9,daytime,station,Ordinal
0,2007-05-29,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,88.0,62.5,75.25,21.25,58.5,65.5,0.0,10.5,0.000,29.415,30.100,5.8,17.0,6.95,41.95469,-87.800991,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1496,1,732825
1,2007-05-29,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,88.0,62.5,75.25,21.25,58.5,65.5,0.0,10.5,0.000,29.415,30.100,5.8,17.0,6.95,41.95469,-87.800991,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1496,1,732825
2,2007-06-05,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,63.5,49.0,56.25,2.25,47.5,51.5,8.5,0.0,0.345,29.130,29.785,5.7,4.0,7.85,41.95469,-87.800991,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1506,1,732832
3,2007-06-05,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,63.5,49.0,56.25,2.25,47.5,51.5,8.5,0.0,0.345,29.130,29.785,5.7,4.0,7.85,41.95469,-87.800991,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1506,1,732832
4,2007-06-05,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,63.5,49.0,56.25,2.25,47.5,51.5,8.5,0.0,0.345,29.130,29.785,5.7,4.0,7.85,41.95469,-87.800991,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1506,1,732832

In [55]:
combined.to_csv('train_spray_comparison',index=False)

In [57]:
combined['WnvPresent'].sum()/len(combined['WnvPresent'])

0.05244622120692937

In [64]:
spray_temp = pd.DataFrame(spray['Ordinal'])

In [65]:
spray_temp['station'] = spray['station']

In [68]:
spray_temp = spray_temp.drop_duplicates()

In [71]:
spray_temp = spray_temp.reset_index()

In [74]:
spray_temp = spray_temp.drop(columns=['index'])

In [75]:
spray_temp

    Ordinal  station
0    735095        1
1    735109       24
2    735088       35
3    735095       38
4    735095       60
5    735102       63
6    735095       68
7    735109       79
8    735102       90
9    735102       98
10   735102      111
11   735102      123
12   735095      127
13   735074      128
14   735109      131

In [76]:
combined.head()

,Date,BCFG,BR,CALM,DZ,FG,FG+,FU,GR,HZ,MIFG,RA,SN,SQ,TS,TSRA,VCFG,VCTS,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,Latitude,Longitude,WnvPresent,Species_CULEX ERRATICUS,Species_CULEX PIPIENS,Species_CULEX PIPIENS/RESTUANS,Species_CULEX RESTUANS,Species_CULEX SALINARIUS,Species_CULEX TARSALIS,Species_CULEX TERRITANS,month_10,month_5,month_6,month_7,month_8,month_9,daytime,station,Ordinal
0,2007-05-29,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,88.0,62.5,75.25,21.25,58.5,65.5,0.0,10.5,0.000,29.415,30.100,5.8,17.0,6.95,41.95469,-87.800991,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1496,1,732825
1,2007-05-29,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,88.0,62.5,75.25,21.25,58.5,65.5,0.0,10.5,0.000,29.415,30.100,5.8,17.0,6.95,41.95469,-87.800991,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1496,1,732825
2,2007-06-05,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,63.5,49.0,56.25,2.25,47.5,51.5,8.5,0.0,0.345,29.130,29.785,5.7,4.0,7.85,41.95469,-87.800991,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1506,1,732832
3,2007-06-05,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,63.5,49.0,56.25,2.25,47.5,51.5,8.5,0.0,0.345,29.130,29.785,5.7,4.0,7.85,41.95469,-87.800991,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1506,1,732832
4,2007-06-05,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,63.5,49.0,56.25,2.25,47.5,51.5,8.5,0.0,0.345,29.130,29.785,5.7,4.0,7.85,41.95469,-87.800991,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1506,1,732832