In [19]:
# imports
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 5000)
pd.set_option('display.max_rows', 5000)

In [20]:
weather = pd.read_csv('./weather.csv')
# weather.head()

In [21]:
# examining/understanding data
print()
display(weather.head(10))
print()

print('SHAPE:')
print(weather.shape)
print()

print('INFO:')
display(weather.info())

print('NULL VALUES:')
print(weather.isnull().sum())
print()

print('DESCRIBE:')
display(weather.describe())

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,0448,1849,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,-,-,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,0447,1850,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,-,-,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,0446,1851,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9
5,2,2007-05-03,67,48,58,M,40,50,7,0,-,-,HZ,M,M,M,0.00,29.46,30.12,12.9,6,13.2
6,1,2007-05-04,66,49,58,4,41,50,7,0,0444,1852,RA,0,M,0.0,T,29.31,30.05,10.4,8,10.8
7,2,2007-05-04,78,51,M,M,42,50,M,M,-,-,,M,M,M,0.00,29.36,30.04,10.1,7,10.4
8,1,2007-05-05,66,53,60,5,38,49,5,0,0443,1853,,0,M,0.0,T,29.40,30.10,11.7,7,12.0
9,2,2007-05-05,66,54,60,M,39,50,5,0,-,-,,M,M,M,T,29.46,30.09,11.2,7,11.5

SHAPE:
(2944, 22)

INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2944 entries, 0 to 2943
Data columns (total 22 columns):
Station        2944 non-null int64
Date           2944 non-null object
Tmax           2944 non-null int64
Tmin           2944 non-null int64
Tavg           2944 non-null object
Depart         2944 non-null object
DewPoint       2944 non-null int64
WetBulb        2944 non-null object
Heat           2944 non-null object
Cool           2944 non-null object
Sunrise        2944 non-null object
Sunset         2944 non-null object
CodeSum        2944 non-null object
Depth          2944 non-null object
Water1         2944 non-null object
SnowFall       2944 non-null object
PrecipTotal    2944 non-null object
StnPressure    2944 non-null object
SeaLevel       2944 non-null object
ResultSpeed    2944 non-null float64
ResultDir      2944 non-null int64
AvgSpeed       2944 non-null object
dtypes: float64(1), int64(5), object(16)
memory usage: 506.1+ KB

None

NULL VALUES:
Station        0
Date           0
Tmax           0
Tmin           0
Tavg           0
Depart         0
DewPoint       0
WetBulb        0
Heat           0
Cool           0
Sunrise        0
Sunset         0
CodeSum        0
Depth          0
Water1         0
SnowFall       0
PrecipTotal    0
StnPressure    0
SeaLevel       0
ResultSpeed    0
ResultDir      0
AvgSpeed       0
dtype: int64

DESCRIBE:

,Station,Tmax,Tmin,DewPoint,ResultSpeed,ResultDir
count,2944.000000,2944.000000,2944.000000,2944.000000,2944.000000,2944.000000
mean,1.500000,76.166101,57.810462,53.457880,6.960666,17.494905
std,0.500085,11.461970,10.381939,10.675181,3.587527,10.063609
min,1.000000,41.000000,29.000000,22.000000,0.100000,1.000000
25%,1.000000,69.000000,50.000000,46.000000,4.300000,7.000000
50%,1.500000,78.000000,59.000000,54.000000,6.400000,19.000000
75%,2.000000,85.000000,66.000000,62.000000,9.200000,25.000000
max,2.000000,104.000000,83.000000,75.000000,24.100000,36.000000

In [22]:
# replacing M's and T's and '-' with arbirtrary number (soon to be replaced)
weather = weather.replace('M', 111111)
weather = weather.replace('-', 111111)
weather = weather.replace('T', 0.008)
weather = weather.replace('  T', 0.008)
weather['CodeSum'] = weather['CodeSum'].replace(' ', 'CALM')

In [23]:
# All values in Water1, depth= 0 or M; correlates to snowfall
weather = weather.drop(['Water1', 'Depth', 'SnowFall'], axis=1)

# Changing data types from objects/ints to floats
weather['Tmax'] = weather['Tmax'].astype('float')
weather['Tmin'] = weather['Tmin'].astype('float')
weather['Tavg'] = weather['Tavg'].astype('float')
weather['Depart'] = weather['Depart'].astype('float')
weather['DewPoint'] = weather['DewPoint'].astype('float')
weather['WetBulb'] = weather['WetBulb'].astype('float')
weather['Heat'] = weather['Heat'].astype('float')
weather['Cool'] = weather['Cool'].astype('float')
weather['PrecipTotal'] = weather['PrecipTotal'].astype('float')
weather['StnPressure'] = weather['StnPressure'].astype('float')
weather['SeaLevel'] = weather['SeaLevel'].astype('float')
weather['ResultSpeed'] = weather['ResultSpeed'].astype('float')
weather['ResultDir'] = weather['ResultDir'].astype('float')
weather['AvgSpeed'] = weather['AvgSpeed'].astype('float')

# replacing arbitrary number with NaN
weather = weather.replace(111111, np.nan)

# calculating Tavg and Depart to true value
weather['Tavg'] = (weather['Tmax'] + weather['Tmin']) / 2
weather['Depart'] = weather['Tavg'] - 54 # 54 is 30-year normal (avg) temp

# filling preciptotal days with M == 0
weather['PrecipTotal'] = weather['PrecipTotal'].fillna(0)

# Dummying CodeSum
weather = pd.concat([weather, weather['CodeSum'].str.get_dummies(sep=' ')], axis=1)
weather = weather.drop(['CodeSum'], axis=1)

In [24]:
# filling null rise/sets with preceding value
weather['Sunrise'] = weather['Sunrise'].fillna(method='ffill')
weather['Sunset'] = weather['Sunset'].fillna(method='ffill')

# converting rise/set time to int
weather['Sunrise'] = weather['Sunrise'].astype('int')
weather['Sunset'] = weather['Sunset'].astype('int')

In [25]:
# filling nulls for select columns
def fill_na(column):
    # finding the rows with null values
    null_columns = weather.columns[weather.isnull().any()]
    
    # filling null values with mean of 10 closest values
    for index, avg in weather[weather[column].isnull()][null_columns].iterrows():
        condensed_mean = weather[column].loc[index-1:index+5].mean()
        weather[column] = weather[column].fillna(value=condensed_mean, limit=1)
    print(str(column) , str(weather[column].isnull().sum()))

wetbulb = fill_na('WetBulb')
heat = fill_na('Heat')
cool = fill_na('Cool')
stnpres = fill_na('StnPressure')
sealvl = fill_na('SeaLevel')
avgwind = fill_na('AvgSpeed')

WetBulb 0
Heat 0
Cool 0
StnPressure 0
SeaLevel 0
AvgSpeed 0

In [26]:
# Printing characteristics
print('INFO:')
display(weather.info())

print('NULL VALUES:')
print(weather.isnull().sum())
print()
display(weather.head())

INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2944 entries, 0 to 2943
Data columns (total 35 columns):
Station        2944 non-null int64
Date           2944 non-null object
Tmax           2944 non-null float64
Tmin           2944 non-null float64
Tavg           2944 non-null float64
Depart         2944 non-null float64
DewPoint       2944 non-null float64
WetBulb        2944 non-null float64
Heat           2944 non-null float64
Cool           2944 non-null float64
Sunrise        2944 non-null int64
Sunset         2944 non-null int64
PrecipTotal    2944 non-null float64
StnPressure    2944 non-null float64
SeaLevel       2944 non-null float64
ResultSpeed    2944 non-null float64
ResultDir      2944 non-null float64
AvgSpeed       2944 non-null float64
BCFG           2944 non-null int64
BR             2944 non-null int64
CALM           2944 non-null int64
DZ             2944 non-null int64
FG             2944 non-null int64
FG+            2944 non-null int64
FU             2944 non-null int64
GR             2944 non-null int64
HZ             2944 non-null int64
MIFG           2944 non-null int64
RA             2944 non-null int64
SN             2944 non-null int64
SQ             2944 non-null int64
TS             2944 non-null int64
TSRA           2944 non-null int64
VCFG           2944 non-null int64
VCTS           2944 non-null int64
dtypes: float64(14), int64(20), object(1)
memory usage: 805.1+ KB

None

NULL VALUES:
Station        0
Date           0
Tmax           0
Tmin           0
Tavg           0
Depart         0
DewPoint       0
WetBulb        0
Heat           0
Cool           0
Sunrise        0
Sunset         0
PrecipTotal    0
StnPressure    0
SeaLevel       0
ResultSpeed    0
ResultDir      0
AvgSpeed       0
BCFG           0
BR             0
CALM           0
DZ             0
FG             0
FG+            0
FU             0
GR             0
HZ             0
MIFG           0
RA             0
SN             0
SQ             0
TS             0
TSRA           0
VCFG           0
VCTS           0
dtype: int64

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,BCFG,BR,CALM,DZ,FG,FG+,FU,GR,HZ,MIFG,RA,SN,SQ,TS,TSRA,VCFG,VCTS
0,1,2007-05-01,83.0,50.0,66.5,12.5,51.0,56.0,0.0,2.0,448,1849,0.0,29.10,29.82,1.7,27.0,9.2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,2007-05-01,84.0,52.0,68.0,14.0,51.0,57.0,0.0,3.0,448,1849,0.0,29.18,29.82,2.7,25.0,9.6,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1,2007-05-02,59.0,42.0,50.5,-3.5,42.0,47.0,14.0,0.0,447,1850,0.0,29.38,30.09,13.0,4.0,13.4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2,2007-05-02,60.0,43.0,51.5,-2.5,42.0,47.0,13.0,0.0,447,1850,0.0,29.44,30.08,13.3,2.0,13.4,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,1,2007-05-03,66.0,46.0,56.0,2.0,40.0,48.0,9.0,0.0,446,1851,0.0,29.39,30.12,11.7,7.0,11.9,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [27]:
# separating data by station
weather = weather.sort_values(by=['Station', 'Date'])
st1 = weather[weather['Station'] == 1]
st1 = st1.reset_index(drop=True)
st1.to_csv('station_1.csv')

st2 = weather[weather['Station'] == 2]
st2 = st2.reset_index(drop=True)
st2.to_csv('station_2.csv')

# looking at data
display(st1.head())
print()
print()
display(st2.head())

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,BCFG,BR,CALM,DZ,FG,FG+,FU,GR,HZ,MIFG,RA,SN,SQ,TS,TSRA,VCFG,VCTS
0,1,2007-05-01,83.0,50.0,66.5,12.5,51.0,56.0,0.0,2.0,448,1849,0.0,29.10,29.82,1.7,27.0,9.2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,2007-05-02,59.0,42.0,50.5,-3.5,42.0,47.0,14.0,0.0,447,1850,0.0,29.38,30.09,13.0,4.0,13.4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1,2007-05-03,66.0,46.0,56.0,2.0,40.0,48.0,9.0,0.0,446,1851,0.0,29.39,30.12,11.7,7.0,11.9,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,2007-05-04,66.0,49.0,57.5,3.5,41.0,50.0,7.0,0.0,444,1852,0.0,29.31,30.05,10.4,8.0,10.8,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
4,1,2007-05-05,66.0,53.0,59.5,5.5,38.0,49.0,5.0,0.0,443,1853,0.0,29.40,30.10,11.7,7.0,12.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,BCFG,BR,CALM,DZ,FG,FG+,FU,GR,HZ,MIFG,RA,SN,SQ,TS,TSRA,VCFG,VCTS
0,2,2007-05-01,84.0,52.0,68.0,14.0,51.0,57.0,0.0,3.0,448,1849,0.0,29.18,29.82,2.7,25.0,9.6,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,2007-05-02,60.0,43.0,51.5,-2.5,42.0,47.0,13.0,0.0,447,1850,0.0,29.44,30.08,13.3,2.0,13.4,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
2,2,2007-05-03,67.0,48.0,57.5,3.5,40.0,50.0,7.0,0.0,446,1851,0.0,29.46,30.12,12.9,6.0,13.2,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
3,2,2007-05-04,78.0,51.0,64.5,10.5,42.0,50.0,7.1,0.0,444,1852,0.0,29.36,30.04,10.1,7.0,10.4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2,2007-05-05,66.0,54.0,60.0,6.0,39.0,50.0,5.0,0.0,443,1853,0.0,29.46,30.09,11.2,7.0,11.5,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0