In [20]:
import pandas as pd
pd.set_option('display.max_columns', 500)

Cleaning the train and test set to only include relevent features (Dropped Street, Trap, Block, Address, Address Accuracy and Num_Mosquitos Columns

In [2]:
train = pd.read_csv('./train_2.csv')

In [5]:
train_clean = train.drop(columns=['Address', 'Street','Trap','AddressNumberAndStreet','AddressAccuracy','NumMosquitos'])

In [7]:
train_clean.to_csv('train_clean')

### Formatting the Test set the same way as the train set by dropping a few columns

In [9]:
test = pd.read_csv('./tes_2.csv')

In [11]:
test_clean = test.drop(columns=['Address', 'Street','Trap','AddressNumberAndStreet','AddressAccuracy'])

In [12]:
test_clean.to_csv('test_clean')

In [13]:
test_clean.head()

   Id        Date                 Species  Block  Latitude  Longitude
0   1  2008-06-11  CULEX PIPIENS/RESTUANS     41  41.95469 -87.800991
1   2  2008-06-11          CULEX RESTUANS     41  41.95469 -87.800991
2   3  2008-06-11           CULEX PIPIENS     41  41.95469 -87.800991
3   4  2008-06-11        CULEX SALINARIUS     41  41.95469 -87.800991
4   5  2008-06-11         CULEX TERRITANS     41  41.95469 -87.800991

### Reading in Weather CSV's

In [15]:
weather_1 = pd.read_csv('./eda/weather/station_1.csv')

In [18]:
weather_1 = weather_1.drop(columns=['Unnamed: 0'])

In [21]:
weather_1.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,BCFG,BR,CALM,DZ,FG,FG+,FU,GR,HZ,MIFG,RA,SN,SQ,TS,TSRA,VCFG,VCTS
0,1,2007-05-01,83.0,50.0,66.5,12.5,51.0,56.0,0.0,2.0,448,1849,0.0,29.10,29.82,1.7,27.0,9.2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,2007-05-02,59.0,42.0,50.5,-3.5,42.0,47.0,14.0,0.0,447,1850,0.0,29.38,30.09,13.0,4.0,13.4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1,2007-05-03,66.0,46.0,56.0,2.0,40.0,48.0,9.0,0.0,446,1851,0.0,29.39,30.12,11.7,7.0,11.9,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,2007-05-04,66.0,49.0,57.5,3.5,41.0,50.0,7.0,0.0,444,1852,0.0,29.31,30.05,10.4,8.0,10.8,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
4,1,2007-05-05,66.0,53.0,59.5,5.5,38.0,49.0,5.0,0.0,443,1853,0.0,29.40,30.10,11.7,7.0,12.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [24]:
weather_2 = pd.read_csv('./eda/weather/station_2.csv')

In [25]:
weather_2 = weather_2.drop(columns=['Unnamed: 0'])

In [26]:
weather_2.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,BCFG,BR,CALM,DZ,FG,FG+,FU,GR,HZ,MIFG,RA,SN,SQ,TS,TSRA,VCFG,VCTS
0,2,2007-05-01,84.0,52.0,68.0,14.0,51.0,57.0,0.0,3.0,448,1849,0.0,29.18,29.82,2.7,25.0,9.6,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,2007-05-02,60.0,43.0,51.5,-2.5,42.0,47.0,13.0,0.0,447,1850,0.0,29.44,30.08,13.3,2.0,13.4,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
2,2,2007-05-03,67.0,48.0,57.5,3.5,40.0,50.0,7.0,0.0,446,1851,0.0,29.46,30.12,12.9,6.0,13.2,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
3,2,2007-05-04,78.0,51.0,64.5,10.5,42.0,50.0,7.1,0.0,444,1852,0.0,29.36,30.04,10.1,7.0,10.4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2,2007-05-05,66.0,54.0,60.0,6.0,39.0,50.0,5.0,0.0,443,1853,0.0,29.46,30.09,11.2,7.0,11.5,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [41]:
weather_1_temp = weather_1.drop(columns = ['Station', 'Date','BCFG', 'BR', 'CALM', 'DZ', 'FG', 'FG+', 'FU', 'GR', 'HZ', 'MIFG', 'RA',
       'SN', 'SQ', 'TS', 'TSRA', 'VCFG', 'VCTS'])

In [44]:
weather_2_temp = weather_2.drop(columns = ['Station', 'Date','BCFG', 'BR', 'CALM', 'DZ', 'FG', 'FG+', 'FU', 'GR', 'HZ', 'MIFG', 'RA',
       'SN', 'SQ', 'TS', 'TSRA', 'VCFG', 'VCTS'])

### Concacting weather 1 and 2 together

In [45]:
df_concat = pd.concat((weather_1_temp, weather_2_temp))

In [46]:
by_row_index = df_concat.groupby(df_concat.index)
df_means = by_row_index.mean()

In [48]:
weather_1.columns

Index(['Station', 'Date', 'Tmax', 'Tmin', 'Tavg', 'Depart', 'DewPoint',
       'WetBulb', 'Heat', 'Cool', 'Sunrise', 'Sunset', 'PrecipTotal',
       'StnPressure', 'SeaLevel', 'ResultSpeed', 'ResultDir', 'AvgSpeed',
       'BCFG', 'BR', 'CALM', 'DZ', 'FG', 'FG+', 'FU', 'GR', 'HZ', 'MIFG', 'RA',
       'SN', 'SQ', 'TS', 'TSRA', 'VCFG', 'VCTS'],
      dtype='object')

In [51]:
weather_1_dummies = weather_1.drop(columns = ['Station','Tmax', 'Tmin', 'Tavg', 'Depart', 'DewPoint',
       'WetBulb', 'Heat', 'Cool', 'Sunrise', 'Sunset', 'PrecipTotal',
       'StnPressure', 'SeaLevel', 'ResultSpeed', 'ResultDir', 'AvgSpeed'])

In [55]:
weather_combined = pd.concat([weather_1_dummies, df_means], axis=1)

In [56]:
weather_combined.head()

,Date,BCFG,BR,CALM,DZ,FG,FG+,FU,GR,HZ,MIFG,RA,SN,SQ,TS,TSRA,VCFG,VCTS,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,2007-05-01,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,83.5,51.0,67.25,13.25,51.0,56.5,0.00,2.5,448,1849,0.0,29.140,29.820,2.20,26.0,9.40
1,2007-05-02,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,59.5,42.5,51.00,-3.00,42.0,47.0,13.50,0.0,447,1850,0.0,29.410,30.085,13.15,3.0,13.40
2,2007-05-03,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,66.5,47.0,56.75,2.75,40.0,49.0,8.00,0.0,446,1851,0.0,29.425,30.120,12.30,6.5,12.55
3,2007-05-04,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,72.0,50.0,61.00,7.00,41.5,50.0,7.05,0.0,444,1852,0.0,29.335,30.045,10.25,7.5,10.60
4,2007-05-05,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,66.0,53.5,59.75,5.75,38.5,49.5,5.00,0.0,443,1853,0.0,29.430,30.095,11.45,7.0,11.75

### Exporting to CSV

In [57]:
weather_combined.to_csv('weather_combined')